.new-mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    gap: 2rem;

    .nav {
        display: flex;
        width: 90%;
        max-width: 60rem;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: space-between;;

        #new-mail-title {
            font-size: 2.2rem;
            margin: auto;
        }

        button {
            height: 3.5rem;
            width: 3.5rem;

            mat-icon {
                font-size: 2rem;
                height: 2rem;
                width: 2rem;
            }
                    
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
        gap: 1.5rem;
        width: 90%;

        mat-form-field {
            width: 100%;
            max-width: 40rem;
        }

        .mail-button {
            width: 18rem;
            height: 3rem;
            margin-bottom: 4rem;
            font-size: large;
        }
    }

}
