<div class="login">
    <h1>Login</h1>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="john@gmail.com" [(ngModel)]="model.email" name="email" required email>
            @if (loginForm.controls['email'].hasError('email')) {
                <mat-error>Email is not valid</mat-error>
              }
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="model.password" name="password" required minlength="6">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if (loginForm.controls['password'].hasError('minlength')) {
                <mat-error>Password must be at least 6 characters long</mat-error>
              }
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid" class="login-button">Login</button>
    </form>
    <div class="link">Don't have an account?
        <a mat-button color="primary" routerLink="/registration">Register</a>
    </div>
</div>
